.achieve{
    color:#e9f5f8;
    text-align: left;
    background-color: #1e1e1e;
    padding: 200px;
    display: flex;
    flex-direction: row;
}
.achieve h1{
    font-family: 'Montserrat', sans-serif;
    font-size:50pt;
    margin:auto;
}
.achieve ul{
    font-family: 'Raleway', sans-serif;
    font-size:15pt;
    list-style-type: none;
    padding: 0px;
}
.achieve li{
    padding:5px;
}
.achieve img{
    padding-top:0px;
    padding-left:200px;
    display: block; margin: auto;
    width: 650px; height: 500px;
}