.edu{
    background-color: #1e1e1e;
    height:900px;
}
.flex-container{
    display: block;
    display:flex;
    flex-direction:row;
}
.flex-item{
    display: block;
    height:500px; width:450px;
    background-color: white;
    margin:auto;
    margin-top:10%;   
    border-radius: 3%;
    box-shadow: 4px 5px 5px 0px rgba(255,255,255,0.35);

}
.flex-item h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    margin-bottom:40px;

}
.flex-item p{
    text-align: center;
    color:black;
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    margin:5px;
}
#wgps{
    height:60%; width:60%;
    margin-left:99px;
}
#jwss{
    height:45%; width:35%;
    margin-left:145px;
    margin-top:20px;
    margin-bottom: 53px;
}
#np{
    height:30%; width:100%; 
    margin-top:40px;
    margin-bottom:106px;
}
