.edu{
    background-color: #1e1e1e;
    height:900px;
}
.flex-container{
    display: block;
    display:flex;
    flex-direction:row;
}
.flex-item{
    display: block;
    height:500px; width:450px;
    background-color: white;
    margin:auto;
    margin-top:10%;   
    border-radius: 3%;
    box-shadow: 4px 5px 5px 0px rgba(255,255,255,0.35);

}
.flex-item:hover{
    transform:scale(1.1)
}
.flex-item h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    margin-bottom:40px;

}
.flex-item p{
    text-align: center;
    color:black;
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    margin:5px;
}
#wgps{
    height:60%; width:60%;
    margin-left:99px;
}
#jwss{
    height:45%; width:35%;
    margin-left:145px;
    margin-top:20px;
    margin-bottom: 53px;
}
#np{
    height:30%; width:100%; 
    margin-top:40px;
    margin-bottom:106px;
}
 /* Mobile */
@media only screen and (max-width:1000px){
    .flex-item{
        display: block;
        height:400px; width:300px;
        background-color: white;
        margin:auto;
        margin-top:10%;   
        border-radius: 3%;
        box-shadow: 4px 5px 5px 0px rgba(255,255,255,0.35);
    
    }
    #wgps{
        height:50%; width:50%;
        margin-left:79px;
        margin-bottom:18px;
    }
    #jwss{
        height:35%; width:25%;
        margin-left:115px;
        margin-top:20px;
        margin-bottom: 57px;
    }
    #np{
        height:20%; width:90%; 
        margin-top:40px;
        margin-bottom:93px;
        margin-left:15px;
    }
    .flex-item h1{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 13pt;
        margin-bottom:40px;
    
    }
    .flex-item p{
        text-align: center;
        color:black;
        font-family: 'Raleway', sans-serif;
        font-size: 8pt;
        font-weight: bold;
        margin:5px;
    }
}