.bannerLeft{
    height:450px;
    background-image: linear-gradient(to bottom left,#1e1e1e,black);

    
}
#myname{
    color:white;
    font-size: 50px;
    padding-top: 25px;
    padding-left: 70px;
    font-family: Cambria,bold;
    margin:0;
}
#list{
    color:white;    
    list-style-type: none;
    padding-left: 95px;
    font-family: arial,italic;
    font-size: 30px;
}
#list li{
    padding-bottom: 20px;
}

.bannerRight{
    width:1005;
    height:450px;
    background-image: linear-gradient( #1e1e1e,black);
    position: relative;
}
.bannerRight h1{
    padding-top: 8px;
    margin-left:15px;
    color: white;
    padding-left: 10px;
    font-family: Cambria,bold;
    font-size: 50px;
    
}
.bannerRight p{
    font-family: arial,italic;
    font-size: 20px;
    color:white;
    margin-left:26px;
    width:50%;
}
.bannerRight img{
    display: block;
    position: absolute;
    top: 70px;
    right: 100px;
    box-shadow: 0px 0px 0px 3px rgba(255,255,255,1);
}
.contactsLeft{
    padding-bottom: 100px;
    background-color: black;
    height: 400px;
    
}
.contactsLeft h1{
    padding-top:20px;
    padding-bottom:10px;
    color:#e9f5f8;
    text-align: center;
    margin:auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 30pt
   
    
}
.contactsLeft h3{
    margin-top:50px;
    text-align: center;
    color:white;
    font-family: 'Montserrat', sans-serif;

}
.contactsRight{
    padding-left: 70px;
    background-color: black;
    height: 400px;
    
    
}
input[type=text] {
font-family: 'Montserrat', sans-serif;
background-color: black;
width: 45%;
padding: 12px 12px;
margin:15px;
box-sizing: border-box;
border: none;
border-bottom:2px solid white;
}
#message{
    font-family: 'Montserrat', sans-serif;
    width: 97%;
    height: 20%;
    padding: 12px 12px;
    margin:15px;
    box-sizing: border-box;
    border: none;
    border-bottom:2px solid white;
}
::placeholder{
    color:white;
}

#name{
    float:left;
}
#email{
    float:right;
}
#contact{
    float:left;
}
#address{
    float:right;
}
#submit{
    font-family: 'Montserrat', sans-serif;
    width:97%;
    padding: 12px 12px;
    margin:15px;
    
}
/* Mobile */
@media only screen and (max-width:1000px){
    #myname{
        color:white;
        font-size: 35px;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        font-family: Cambria,bold;
        margin:0;
    }
    #list{
        color:white;    
        list-style-type: none;
        padding-left: 55px;
        font-family: arial,italic;
        font-size: 20px;
    }
    #list li{
        padding-bottom: 20px;
    }
    .bannerLeft{
        height:700px;
        background-image: linear-gradient(to bottom left,#1e1e1e,black);
    
        
    }
    .bannerRight{
        height:700px;
        background-image: linear-gradient( #1e1e1e,black);
        position: relative;
    }
    .bannerRight img{
        display: block;
        position: absolute;
        top: 222px;
        right: 20px;
        height:40%; width:35%;
        box-shadow: 0px 0px 0px 3px rgba(255,255,255,1);
    }
    .bannerRight h1{
        padding-top: 8px;
        margin-left:15px;
        color: white;
        padding-left: 10px;
        font-family: Cambria,bold;
        font-size: 35px;
    }
    .bannerRight p{
        font-family: arial,italic;
        font-size: 16px;
        color:white;
        margin-left:26px;
        width:50%;
    }
    .contactsLeft h1{
        padding-top:20px;
        padding-bottom:10px;
        color:#e9f5f8;
        text-align: center;
        margin:auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 20pt
       
        
    }
    .contactsLeft h3{
        margin-top:50px;
        text-align: center;
        color:white;
        font-family: 'Montserrat', sans-serif;
        font-size:10pt;
    
    }
    .contactsRight{
        padding-left: 0px;
        background-color: black;
        height: 600px;
        
        
    }
    .contactsLeft{
        padding-bottom: 100px;
        background-color: black;
        height: 600px;
    }
    input[type=text] {
        font-family: 'Montserrat', sans-serif;
        background-color: black;
        width: 45%;
        padding: 12px 12px;
        margin:10px;
        box-sizing: border-box;
        border: none;
        border-bottom:2px solid white;
    }
    #submit{
        font-family: 'Montserrat', sans-serif;
        width:95%;
        padding: 12px 12px;
        
        
    }
    #message{
        font-family: 'Montserrat', sans-serif;
        width: 95%;
        height: 20%;
        padding: 12px 12px;
        
        box-sizing: border-box;
        border: none;
        border-bottom:2px solid white;
    }

}