/* Styling for header,body,footer */

body{
    margin:0px;
    /* height:600px; */
}

header{
    background-color: black;
    height: 150px;
    margin:auto;
    border-bottom: 0.1px solid white;
    
}
header h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    display:block;
    margin:auto;
    color:#e9f5f8;
    text-align:left;
    padding-top: 60px;

    float: left;   
}
/* Nav bar */
.nav {
    position: absolute;
    display:block;
    margin:0;
    list-style-type: none;
    right:0px;
    overflow: hidden;
    transform: rotate(180deg);
}
.nav li {
    float: right;
    transform: rotate(180deg);

}
li a {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    color:#e9f5f8;
    text-align: center;
    padding: 59px 16px;
    text-decoration: none;
}
li a:hover{
    transform: scale(1.1);
}

/* Footer */
footer{
    border-top: 0.01px solid white;
    height: 100px;
    display: block;
    background-color: black;
    margin:auto;
    position: relative;
    
}

footer h6{
    
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    text-align: center;
    display: block;
    margin:auto;
    position: absolute;
    bottom:0; left:0; right:0;
    color:white;
    padding-bottom: 10px;
   
}

.flexicon-container{
    display:block;
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding-right:11px;
}

.flex-icon{
    display:block;
    width:20px; height:20px;
    margin-left:20px; margin-right:20px; margin-top:30px;
}
.flex-icon:hover{
    transform: scale(1.1);
}
.flex1-container{
    width:20%   ;
    margin:1px;
    display:flex;
    flex-direction:row;
    
}
.flex-item1{
    display:block;
    margin:0;
}
#icon{
    width:20%;
    height:20%;
    border-radius: 100%;
    margin-top:39px;
    margin-right:10px;
   
}

/* Mobile */
@media only screen and (max-width:1250px){
    header h1{
        font-size: 11pt;
    }
    #icon{
        margin-top:49px;   
    }
}